<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Intelligent News Express</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/index.css" rel="stylesheet">

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">Intelligent News Express</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
           <!--
          <li class="nav-item">
            <a class="nav-link" href="db">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/SkyDB/ISA-CA1-Intelligent-News-express">Git Repo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Today News</h1>
        <div class="list-group">
          <a href="../getNewsBySiteName/BBC News" class="list-group-item">BBC News</a>
          <a href="../getNewsBySiteName/StraitsTimes" class="list-group-item">StraitsTimes</a>
          <a href="../getNewsBySiteName/Today Online" class="list-group-item">Today Online Singapore</a>
          <a href="../getNewsBySiteName/New York Times" class="list-group-item">New York Times</a>        
        </div>

      </div>
      <!-- /.col-lg-3 -->



      <div class="col-lg-9">
         
        <div class="row">

          {%for i in range(0, len)%} 
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{data[i]['img_url']}}" alt="{{data[i]['url']}}"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{data[i]['url']}}">{{data[i]['title']}}</a>
                  </h4>
                  <p class="card-text">{{data[i]['summary']}}</p>
                </div>
              </div>
            </div> 
          {%endfor%} 
                    
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Dongbin & Sun Hang</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
